/* Styling for sign up container */
.signup_container {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Styling for sign up form container */
.signup_form_container {
	position: absolute;
	width: 900px;
	height: 500px;
	display: flex;
	border-radius: 10px;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

/* Styling for left side of form */
.left {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #687b4e;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

/* Styling for left side of form title*/
.left h1 {
	margin-top: 0;
	color: white;
	font-size: 35px;
	align-self: center;
}

/* Styling for right side of form */
.right {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

/* Styling for form container */
.form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Styling for title */
.form_container h1 {
	font-size: 40px;
	margin-top: 0;
}

/* Styling for input sections */
.input {
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: #e6eac4;
	margin: 5px 0;
	font-size: 14px;
}

.error_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

/* Styling for buttons */
.white_btn,
.green_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.green_btn {
	background-color: #687b4e;
	color: white;
	margin: 10px;
}

/* Styling for background */
.background {
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 30px;
	object-fit: cover;
	position: relative;
	z-index: 1;
	background-repeat: no-repeat;
}

/* Styling for background image */
.image {
	height: 100vh;
	width: 100vw;
}

/* Media queries for mobile devices */
@media (max-width: 768px) {
	.signup_form_container {
		width: 400px;
		height: 500px;
		display: flex;
		flex-direction: column;
		border-radius: 10px;
		box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
	}

	.form_container h1 {
		font-size: 30px;
		margin: 10px;
	}

	.input {
		outline: none;
		border: none;
		width: 300px;
		padding: 15px;
		border-radius: 10px;
		background-color: #e6eac4;
		margin: 5px 0;
		font-size: 14px;
	}
}
